:root {
  --dark: #1f2937;
  --light: #f9faf8;
  --grey: #e5e7eb;
  --accent: #3882f6;
  --links: #d6af79;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: var(--dark);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: var(--links);
}

ul {
  list-style-type: none;
}

.nav,
div.hero,
.cards-container,
footer {
  display: flex;
  align-items: center;
}

/* HERO */

div.hero,
.nav,
footer {
  background-color: var(--dark);
  color: var(--grey);
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a.logo {
  display: flex;
  align-items: center;
  color: var(--light);
  font-size: 2.4rem;
}

div.hero {
  flex-direction: column;

  gap: 4rem;
  padding: 15rem 10% 10rem;
}

h1 {
  color: var(--light);
  font-size: 2.8rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}

.nav ul a,
.hero p {
  font-size: 1.8rem;
}

.hero p {
  letter-spacing: 1.2px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn-hero {
  padding: 1rem 2.5rem;
  background-color: var(--accent);
  color: var(--light);
  font-weight: 900;

  border-radius: 0.75rem;
  transition: all 400ms;
}

.btn-hero:hover {
  background-color: var(--light);
  color: var(--accent);
}

.hero-img {
  order: 0;
  align-self: flex-start;
}

.hero-msg {
  order: 1;
}

.hero-img img {
  width: 100%;
  height: auto;
}

/* FEATURES */

.cards {
  padding: 15rem 10% 10rem;
  font-size: 2rem;
}

.cards h2 {
  font-size: 2.5rem;
  text-align: center;

  margin-bottom: 5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}

.card {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  padding: 2rem;

  border: 5px solid var(--accent);
  border-radius: 0.75rem;
}

/* QUOTE */
.quote {
  padding: 15rem 20% 10rem;

  background-color: var(--grey);
  font-size: 2.6rem;
  font-weight: 300;
  font-style: italic;
}

p.author {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: normal;
  text-align: right;
  margin: 2rem 5rem;
}

/* CTA */
div.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15rem 10% 10rem;
}

.cta-content {
  width: 100%;

  background-color: var(--accent);

  border-radius: 0.75rem;
  padding: 5rem;
}

.cta h3 {
  color: var(--light);
  font-size: 2rem;
  font-weight: 700;
}

.cta p {
  color: var(--grey);
}

.cta-text {
  margin-bottom: 3rem;
}

a.btn-cta {
  flex-shrink: 0;
  color: var(--light);
  border: 2px solid var(--light);
  border-radius: 0.75rem;
  padding: 0.5rem 2.5rem;

  font-weight: 900;

  transition: all 400ms;
}

a.btn-cta:hover {
  background-color: var(--light);
  color: var(--accent);

  border: 2px solid var(--accent);
}

/* FOOTER */
footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 3rem;
}

@media only screen and (min-width: 550px) {
  .nav ul {
    flex-direction: row;
    gap: 2rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  .hero-img {
    width: 80%;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    padding: 1rem 10%;
  }
  div.hero {
    flex-direction: row;
  }

  .hero-img {
    width: unset;

    flex: 1 9 auto;

    align-self: center;
  }

  .hero-msg {
    order: 0;

    flex: 1 11 auto;
  }

  h1 {
    font-size: 4.8rem;
  }
  .cards h2 {
    font-size: 3.2rem;
  }
  .card {
    width: 25rem;
  }

  .quote {
    font-size: 3.6rem;
  }

  p.author {
    font-size: 2rem;
  }

  .cta-content {
    padding: 5rem 10rem;
    font-size: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 5rem;
  }

  .cta h3 {
    font-size: 3rem;
  }
}
